[submodule "3rdparty/loose_quadtree"]
	path = 3rdparty/loose_quadtree
	url = https://github.com/gerazo/loose_quadtree.git
[submodule "3rdparty/ZFXMath"]
	path = 3rdparty/ZFXMath
	url = https://github.com/Hemofektik/ZFXMath.git
[submodule "3rdparty/protobuf"]
	path = 3rdparty/protobuf
	url = https://github.com/google/protobuf